.flip-container {
  perspective: 1000px;
  height: 250px;
  width: 200px;
}

.flip-container .flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
}

.flip-container .front,
.flip-container .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.flip-container .front {
  z-index: 2;
  transform: rotateY(0deg);
}

.flip-container .back {
  transform: rotateY(180deg);
}

.flip-container.flipped .flipper {
  transform: rotateY(180deg);
}
